[submodule "Hypothesis"]
	path = src/hypexport/Hypothesis
	url = https://github.com/judell/Hypothesis.git # ugh, github actions can't handle ssh?
[submodule "src/hypexport/exporthelpers"]
	path = src/hypexport/exporthelpers
	url = https://github.com/karlicoss/exporthelpers.git
