[submodule "src/hypexport/Hypothesis"]
	path = src/hypexport/Hypothesis
	url = https://github.com/karlicoss/Hypothesis.git # ugh, github actions can't handle ssh?
[submodule "src/hypexport/exporthelpers"]
	path = src/hypexport/exporthelpers
	url = https://github.com/karlicoss/exporthelpers.git
[submodule "testdata/netrights-dashboard-mockup"]
	path = testdata/netrights-dashboard-mockup
	url = https://github.com/taniki/netrights-dashboard-mockup.git
